body {
    padding-top: 65px;
    background-color: #ffffff;
}


.tablePaddingLeft {
    margin-left: 15px;
}

.searchButton {
    border-radius: 5px;
    border: #333029;
    display: inline-block;
    cursor: pointer;
    color: #2FBADA;
    line-height: 1.5px;
    font-family: "Helvetica Neue", Helvetica, Arial, SansSerif;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
}

.form-control-autofit {
  width: 15%;
}

.allButtons {
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: black;
    line-height: 1.5px;
    font-family: "Helvetica Neue", Helvetica, Arial, SansSerif;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #7dd4e8;
}


.btn {
    background-color: #abdde5

}

.btn:hover {
    background-color: #1f93ad;
}

/*table, th, td {*/
/*border: 1px solid black;*/
/*}*/


.standardInput {
    width: 15%;
}

.standardLabel {
    width: 15%;
}

.inlineForm {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.form-control2 {
    display: inline;
    width: 15%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    padding-right: 0rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border-radius: 0.25rem;

}

.form-control-delete {
    display: inline;
    width: 15%;
    height: calc(2.25rem + 2px);

    padding-right: 0rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border-radius: 0.25rem;
}

.form-control2 input, select {
    display: inline;
    width: 15%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

}

.form-control2 button {
    display: inline-block;
    height: calc(2.25rem + 2px);
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

}

.buttonForm {
    display: inline;
    width: 15%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border-radius: 0.25rem;
}

.multipleInput {
    width: 15%;
    height: 20%;
}

.myDiv {
    display: block;
    width: 15%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    padding-right: 0rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border-radius: 0.25rem;
}

.footer {
    height: 5%;
    padding: 0px;
}

textarea {
    resize: none;
}

.contactImage {
    float: right;
    padding-right: 65rem;
}