body {
    padding-top: 65px;
    background-color: #ffffff;
}


.searchButton {
    border-radius: 5px;
    border: #333029;
    display: inline-block;
    cursor: pointer;
    color: #2FBADA;
    line-height: 1.5px;
    font-family: "Helvetica Neue", Helvetica, Arial, SansSerif;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
}

.allButtons {
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: black;
    line-height: 1.5px;
    font-family: "Helvetica Neue", Helvetica, Arial, SansSerif;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #7dd4e8;
}


.btn {
    background-color: #abdde5

}
.btn:hover
{
    background-color: #1f93ad;
}

/*table, th, td {*/
    /*border: 1px solid black;*/
/*}*/