{% extends 'contact_mail/base.html' %}

{% block title %}
    Add group
{% endblock %}

{% block content %}
    <form method="post">
        <input type="text" name="group_name" placeholder="Name">
        <label>
            Contacts:
            <select multiple name="contacts">
                {% for contact in contacts %}
                    <option value="{{ contact.id }}">{{ contact.name }} {{ contact.surname }}</option>
                {% endfor %}
            </select>
        </label>
        <button type="submit">Add group</button>
        {% csrf_token %}
    </form>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endblock %}