{% extends 'contact_mail/base.html' %}

{% block title %}
    Add address to {{ contact.name }} {{ contact.surname }}
{% endblock %}

{% block content %}
    Add address to {{ contact.name }} {{ contact.surname }}
    <form method="post">
        <input type="text" name="city" placeholder="city">
        <input type="text" name="street" placeholder="street">
        <input type="text" name="building_number" placeholder="building number">
        <input type="text" name="apartment_number" placeholder="apartment number">
        <button type="submit">Add address</button>
        {% csrf_token %}
    </form>
{% endblock %}