{% extends 'contact_mail/base.html' %}

{% block title %}
    Add new contact
{% endblock %}

{% block content %}
    <form method="post">
        <fieldset>
            <input type="text" name="name" placeholder="name">
            <input type="text" name="surname" placeholder="surname">
            <textarea name="description" placeholder="description"></textarea>
        </fieldset>
        <fieldset>
            Address:
            <input type="text" name="city" placeholder="City">
            <input type="text" name="street" placeholder="Street"">
            <input type="text" name="building_number" placeholder="Building number">
            <input type="text" name="apartment_number" placeholder="Apartment number">
        </fieldset>
        <fieldset>
            <input type="number" name="number" placeholder="Phone number"">
            <label>
                Type:
                <select name="phone_type">
                    <option value="0">mobile</option>
                    <option value="1">company</option>
                    <option value="2">home</option>
                </select>
            </label>
        </fieldset>
        <fieldset>
            <input type="email" name="email_address" placeholder="Email address">
            <label>
                Type:
                <select name="email_type">
                    <option value="0">private</option>
                    <option value="1">company</option>
                </select>
            </label>
        </fieldset>
        <button class="btn btn-info" type="submit">Add contact</button>
        {% csrf_token %}
    </form>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endblock %}
