{% extends 'contact_mail/base.html' %}
{% load thumbnail_maker %}

{% block title %}
    Show contact
{% endblock %}

{% block content %}
    <div class="contactImage">
        {% usethumbnail contact.image "160x160" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endusethumbnail %}
    </div>
    <form>
        <div class="form-control">
            <input type="text" placeholder="Name" value="{{ contact.name }}"
                   class="form-control standardInput" disabled>
            <input type="text" placeholder="Surname" value="{{ contact.surname }}"
                   class="form-control standardInput" disabled>
            <textarea placeholder="Descriptions"
                      class="form-control standardInput" disabled>{{ contact.description }}</textarea>
        </div>
        {% csrf_token %}
    </form>
    <form>
        <div class="form-control">
            Address:
            <input type="text" placeholder="City" value="{{ contact.address.city }}"
                   class="form-control standardInput" disabled>
            <input type="text" placeholder="Street" value="{{ contact.address.street }}"
                   class="form-control standardInput" disabled>
            <input type="text" placeholder="Building number"
                   value="{{ contact.address.building_number }}" class="form-control standardInput" disabled>
            <input type="text" placeholder="Apartment number"
                   value="{{ contact.address.apartment_number }}" class="form-control standardInput" disabled>
        </div>
        {% csrf_token %}
    </form>
    <div class="myDiv">Phone:</div>
    {% for phone in contact.phone_set.all %}
        <form class="form-control2">
            <input type="number" placeholder="Phone number" value="{{ phone.number }}"
                   class="form-control form-control2" disabled>
            <input class="form-control form-control2" placeholder="Phone type" value="{{ phone.get_type_display }}" disabled>
            {% csrf_token %}
        </form>
        <div></div>
    {% endfor %}
    <div class="myDiv">Email:</div>
    {% for email in contact.email_set.all %}
        <form class="form-control2">
            <input type="email" placeholder="Email address" value="{{ email.address }}" class="form-control" disabled>
            <input type="text" value="{{ email.get_type_display }}" class="form-control form-control2" disabled>
        </form>
        <div></div>
    {% endfor %}
    <form action="/modify/{{ contact.id }}" method="get" class="form-control2">
        <button class="btn btn-info for" type="submit">Modify contact</button>
    </form>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endblock %}
