{% extends 'contact_mail/base.html' %}

{% block title %}
    Contacts
{% endblock %}

{% block content %}
    <body>
    <table class="contactTable">
        {% for contact in contacts %}
            <tr>
                <td>
                    <a href="/show/{{ contact.id }}">{{ contact.surname }} {{ contact.name }}</a></td>
                <td>
                    <form method="get" action="/modify/{{ contact.id }}">
                        <button class="btn btn-info" type="submit">Modify</button>
                        {% csrf_token %}
                    </form>
                </td>
                <td>
                    <form method="post" action="/delete/{{ contact.id }}">
                        <button class="btn btn-danger" type="submit">Delete</button>
                        {% csrf_token %}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    {{ message }}
{% endblock %}
