{% extends 'contact_mail/base.html' %}

{% block title %}
    Show contact
{% endblock %}

{% block content %}
    <form>
        <div class="form-control">
            <input type="text" name="name" placeholder="Name" value="{{ contact.name }}"
                   class="form-control standardInput" disabled>
            <input type="text" name="surname" placeholder="Surname" value="{{ contact.surname }}"
                   class="form-control standardInput" disabled>
            <textarea name="description" placeholder="Descriptions"
                      class="form-control standardInput" disabled>{{ contact.description }}</textarea>
        </div>
        {% csrf_token %}
    </form>
    <form>
        <div class="form-control">
            Address:
            <input type="text" name="city" placeholder="City" value="{{ contact.address.city }}"
                   class="form-control standardInput" disabled>
            <input type="text" name="street" placeholder="Street" value="{{ contact.address.street }}"
                   class="form-control standardInput" disabled>
            <input type="text" name="building_number" placeholder="Building number"
                   value="{{ contact.address.building_number }}" class="form-control standardInput" disabled>
            <input type="text" name="apartment_number" placeholder="Apartment number"
                   value="{{ contact.address.apartment_number }}" class="form-control standardInput" disabled>
        </div>
        {% csrf_token %}
    </form>
    <div class="myDiv">Phone:</div>
    {% for phone in contact.phone_set.all %}
        <form class="form-control2">
            <input type="number" name="number" placeholder="Phone number" value="{{ phone.number }}"
                   class="form-control2" disabled>
            <input class="form-control2" placeholder="Phone type" value="{{ phone.get_type_display }}">
            {% csrf_token %}
        </form>
        <div></div>
    {% endfor %}
    <div class="myDiv">Email:</div>
    {% for email in contact.email_set.all %}
        <form class="form-control2">
            <input type="email" placeholder="Email address" value="{{ email.address }}" class="form-control2" disabled>
            <input type="email" value="{{ email.address }}" disabled>
        </form>
        <div></div>
    {% endfor %}

    <form action="/modify/{{ contact.id }}" method="get">
        <button class="btn btn-info" type="submit">Modify contact</button>
    </form>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endblock %}
